<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flowers Database</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="icon" href="{% static "myapp/img/favicon.ico" %}" type="image/x-icon"/>
</head>
<body>
<div class="navbar-fixed">
    <nav class="black">
        <div class="container">
            <div class="nav-wrapper">
                <a href = "img/favicon.ico"></a>
                <a href="#!" class="brand-logo"><i class="material-icons">filter_vintage</i>Flowers Database</a>

                <ul class="right hide-on-med-and-down" id="navList">
                    <!--<li><a href="#">Home</a></li>-->
                    {% if request.user.is_authenticated %}
                    <strong><li>Logged in as: {{request.user.username}}</li></strong>
                    <li><a href="{% url 'logout' %}">Logout</a></li>

                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}

                    <!--<li>
                        <div class="center row">
                            <div class="col s12 " >
                                <div class="row" id="topbarsearch">
                                    <div class="input-field col s6 s12 light-blue-text">
                                        <i class="white-text material-icons prefix">search</i>
                                        <input type="text" placeholder="Search" id="autocomplete-input" class="autocomplete white-text" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>
<main>
<table class = "centered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Sighted By</th>
        <th>Location</th>
        <th>Date</th>
        <th> </th>

    </tr>
    </thead>

    <tbody>
        {% if latest_sightings %}
            {% for sighting in latest_sightings %}
            <tr>
            <td id = "tableName">{{ sighting.name }}</td>
            <td id = "tablePerson">{{ sighting.person }}</td>
            <td id = "tableLocation">{{ sighting.location }}</td>
            <td id = "tableDate">{{ sighting.sighted }}</td>
            <td><a class="btn-floating btn-small waves-effect waves-light red" href="{% url 'delete' id=sighting.id %}"><i class="material-icons">delete</i></a>
                <a class="btn-floating btn-small modal-trigger waves-effect waves-light yellow" href="#modal2"><i class="material-icons">edit</i></a>
                <a class="btn-floating btn-small modal-trigger waves-effect waves-light blue" href="#modal3"><i class="material-icons">photo_library</i></a>
                <a class="btn-floating btn-small modal-trigger waves-effect waves-light pink" href="#modal4"><i class="material-icons">format_list_bulleted</i></a>
            </td>
            </tr>
            {% endfor %}
    {% endif %}
    </tbody>
    <div id="modal2" class="modal">
        <div class="modal-content">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="float:right"><i class="material-icons prefix">close</i></a>
            <h5><span style="font-size: 18px">Update the Sightings database...</span></h5>
            <form method="put">
                {% csrf_token %}
                {{up_form.as_p}}
                <button class="btn waves-effect waves-light green" type="submit" name="action">Update</button>
            </form>
        </div>
    </div>
                   
    <div id="modal3" class="modal">
        <div class="modal-content">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="float:right"><i class="material-icons prefix">close</i></a>
            <h5><span style="font-size: 18px">Picture</span></h5>
            {% load static %}
            <img src = "{% static "myapp/img/flowers2.jpg" %}" alt="Flower pic" height="400" width="650">
        </div>
    </div>
    <div id="modal4" class="modal">
        <div class="modal-content">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="float:right"><i class="material-icons prefix">close</i></a>
            <h5><span style="font-size: 18px">10 Most Recent Sightings</span></h5>
            {% if latest_sightings %}
            {% for sighting in latest_sightings %}
            <ul>
                <li><b>Flower: </b> {{ sighting.name }}</li>
                <li><b>Person: </b> {{ sighting.person }}</li>
                <li><b>Location: </b> {{ sighting.location }}</li>
                <li><b>Date Sighted: </b> {{ sighting.sighted }}</li>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</table>

<br>
<a class="btn-floating btn-large modal-trigger waves-effect waves-light green" href="#modal1" style="margin-left:10px;"><i class="material-icons">add</i></a>
    <!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="float:right"><i class="material-icons prefix">close</i></a>
        <h5><span style="font-size: 18px">Insert into the Sightings database...</span></h5>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn waves-effect waves-light green" type="submit" name="action">Insert
            </button>
        </form>
    </div>
</div>
<br><br>
</main>
<footer class="section page-footer black">
    <div class="container center-align"> Created by: Samantha Lieberman and Daniel Tymecki </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.modal').modal();
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('select').formSelect();
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.datepicker').datepicker();
    });
    $(document).ready(function(){
        $('.modal').modal();
        $('.datepicker').datepicker({
            container: 'body'
        })
    });
    $('#editname').attr('placeholder','Name1');
    $('#editperson').attr('placeholder','Person1');
    $('#editlocation').attr('placeholder','Location1');
    $('#editdate').attr('placeholder','Date1');

</script>
</body>
</html>
