<!DOCTYPE html>
<html lang="en">
<head> 
{% load static %}
<link rel="icon" href="{% static "myapp/img/favicon.ico" %}" type="image/x-icon"/>
<title>10 Most Recent Sightings</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>

<body>
<nav class="grey darken-3">
    <div class="nav-wrapper">
        <a class="brand-logo" style="margin-left:20px;">10 Most Recent Sightings</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
        			<li><a href="{% url 'index' %}">Back</a></li>
      		</ul>
	</div>
</nav>
<main>
<ul class="collection">
    {% for entry in top10 %}
     	 <li class="collection-item avatar">
      		<!-- <i class="material-icons circle grey">camera_alt</i> -->
      		{% load static %}
      		<img src="{% static "myapp/img/flower.png" %}" alt="" class="circle">
      		<p><b>Name: </b>{{ entry.name }}<br>
      		<p><b>Person: </b>{{ entry.person }} <br>
         	<b>Location: </b>{{ entry.location }} <br>
         	<b>Date: </b>{{ entry.sighted }}
      		</p>
    	</li>
    {% endfor %}
</ul>
</main>
</body>
</html>